.transfer-container {
    width: 90%;
    margin: auto;
}

.transfer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.header-title {
    font-size: 45px;
    font-weight: 600 !important;
    margin: 0;
    color: black;
}

.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.transfer-content {
    display: flex;
    gap: 20px;
}

.transfer-card.expanded {
    flex: 3;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #d2d9e0;
}

.transfer-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.send-icon {
    font-size: 24px;
    color: black;
}

.transfer-subtitle {
    color: #767676;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.form-label h5 {
    margin-bottom: 5px;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-icon i {
    position: absolute;
    left: 12px;
    color: #999999;
    font-size: 18px;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #999999;
    background: white;
    color: #999999;
    font-size: 16px;
    padding-left: 35px;
    width: 100%;
}

#description.form-control {
    padding-left: 15px;
}

.send-button {
    width: 100%;
    padding: 8px;
    background: #a272fb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.recent-transfers.minimized {
    flex: 1;
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
}

.form-group.mb-3 {
    margin-bottom: 30px !important;
}

.transfer-list {
    padding: 0;
    margin: 0;
}

.recent-title {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

.transfer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 5px;
}

.employee-name {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.transfer-date {
    font-size: 13px;
    color: #767676;
}

.transfer-info p {
    margin: 0;
}

.transfer-amount {
    font-size: 15px;
    font-weight: 500;
    color: #fa3939;
}

.divider {
    border-top: 1px solid #767676;
    margin-top: 5px;
    margin-bottom: 5px;
}

.transfer-item:last-child .divider {
    display: none;
}

.error-toast,
.success-toast {
    border-radius: 10px;
    padding: 12px 16px;
    margin-bottom: 16px;
    color: white;
}

.error-toast {
    background-color: #f44336;
}

.success-toast {
    background-color: #4caf50;
}